<div class="container">
	<%= bootstrap_form_for(@team) do |f| %>
	
	<div class="row">
		<div class='col-lg-3'>
			<%= f.text_field :name, required: true %>
			<%= f.text_field :ticker, required: true %>
			<%= f.file_field :photo, label: "Image" %>
			<%= f.number_field :league_points %>
		</div>

		<div class="col-lg-3">
			<%= f.number_field :goals_for %>
			<%= f.number_field :goals_against %>
			<%= f.number_field :attempts %>
			<%= f.number_field :on_targets %>
			<%= f.number_field :offsides %>
			<%= f.number_field :yellows %>
			<%= f.number_field :reds %>
		</div>

		<div class="col-lg-6">
			<%= f.text_area :playing_style %>	
		</div>
		
		<%= f.submit "Submit", class: "btn btn-large btn-primary" %>
	
	</div>
	<% end %>
</div>