<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
  	Players
  	<% if current_user.admin? %>
  		| <%= link_to "Add Player", new_player_path(team_id: team.id) %>
  	<% end %>
  </div>

  <!-- Table -->
  <table class="table">
	  <tr>
	  	<th>No.</th>
	  	<th>Name</th>
	  	<th>Position</th>
	  	<th>Role</th>
	  	<th>Appearances</th>
	  </tr>

		<% @team.players.each do |player| %>
		<tr>
			<td><%= player.number %></td>
			<td><a href="<%= player_path(player) %>"><%= player.name %></a></td>
			<td><%= player.pref_position %></td>
			<td><%= player.playing_roles %></td>
			<td><%= player.appearances %></td>
	  	<td>
		  	<small>
			  	<% if current_user.admin? %>
			  		<%= link_to 'Edit', edit_player_path(player) %>
			  		 | <%= link_to 'Delete', player, 
			  				method: :delete, data: { 
			  					confirm: "You sure?" } %>
			  	<% end %>
		  	</small>
	  	</td>
		</tr>
		<% end %>	  
  </table>
</div>