<% provide(:title, "Team Index") %>

<div class="container">
  <h1>Team Listing</h1>
  <% if current_user.admin? %>
    <%= link_to 'New team', new_team_path, class: "btn btn-primary" %>
  <% end %>
  <div class="row">
    <ul class="thumbnails list-unstyled">
      <% @teams.each do |team| %>
      <li class="col-md-3">
        <div class="thumbnail" style="padding: 0">
          <div style="padding:4px">
            <%= image_tag(team.photo.url(:small)) %>
          </div>
          <div class="caption">
            <h2>
              <a href="<%= team_path(team) %>"><%= team.name.upcase %></a>
            </h2>
            <p>
              <% unless team.league_position.blank? %>
                <% if team.league_position == 1 %>
                  <%= team.league_position %>st in BPL
                <% elsif team.league_position == 2 %>
                  <%= team.league_position %>nd in BPL
                <% elsif team.league_position == 3 %>
                  <%= team.league_position %>rd in BPL
                <% elsif team.league_position > 3 %>
                  <%= team.league_position %>th in BPL
                <% end %>
              <% end %>
            </p>
            <p>
            <i class="icon icon-map-marker">
            </i> Points: <%= team.league_points %>
            </p>
            <p>
              Scored <%= team.goals_for %>, Conceded <%= team.goals_against %>
            </p>              
          </div>
          <div class="modal-footer" style="text-align: left">
            <% if user_signed_in? && current_user.admin? %>
              <%= link_to 'Edit', edit_team_path(team) %>
              | <%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>

