<% provide(:title, @team.name.upcase) %>
<div class="container">
	<div class="row">
		<div class="page-header">
			<h1><%= @team.name.upcase %> <small>Team Overview</small></h1>		
		</div>
		<div class="col-md-4">			
			<section class="team_sidebar">
				<h5><span class="label label-info">Playing Style</span></h5>
				<%= sanitize(@team.playing_style) %>	
			</section>
			
			<section class="team_sidebar">
				<h5><span class="label label-info">Stats</span></h5>
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">Scored</th>
							<th class="text-center">Conceded</th>
							<th class="text-center">Difference</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><%= @team.goals_for %></td>
							<td><%= @team.goals_against %></td>
							<td><%= @team.goals_for - @team.goals_against %></td>
						</tr>
					</tbody>
				</table>
			</section>

			<section class="team_sidebar">
				<h5><span class="label label-info">Last 5 Matches</span></h5>
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">Point Gained</th>
							<th class="text-center">Scored</th>
							<th class="text-center">Conceded</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @prev_opps.each do |prev| %>
							<% unless prev.nil? %>
							<tr>
								<td><%= prev.point %></td>
								<td><%= prev.score %></td>
								<td><%= prev.concede %></td>								
								<td><%= link_to "Detail", match_path(prev.match_id) %></td>
							</tr>
							<% end %>
						<% end %>						
					</tbody>
				</table>
			</section>

			<section class="team_sidebar">
				<h5><span class="label label-info">Next 5 Matches</span></h5>
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">Opponents</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @next_opps.each do |nex| %>
							<% unless nex.nil? %>
							<tr>
								<td><%= nex.ticker %></td> 
								<td><%= link_to "Detail", team_path(prev.team_id) %></td>
							</tr>
							<% end %>
						<% end %>						
					</tbody>
				</table>
			</section class="team_sidebar">

			<section class="team_sidebar">
				<h5>
					<span class="label label-info">All Matches</span>
					<%= will_paginate @all_matches %>
				</h5>
				<table class="table">
					<thead>
						<tr>
							<th class="text-center">Teams</th>
							<th class="text-center">GW</th>
							<th class="text-center">Score</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @all_matches.each do |match| %>
							<% unless match.nil? %>
							<tr>
								<td><%= match.hometeam.ticker %>#<%= match.awayteam.ticker %></td> 
								<td><%= match.gameweek %></td>
								<td><%= find_result(match, match.hometeam).score %> -
										<%= find_result(match, match.awayteam).score %>
								</td>
								<td>
									<% if match.postmatch.blank? %>
										<%= link_to "Preview", match_path(match) unless match.prematch.blank? %>
									<% else %>
										<%= link_to "Review", match_path(match)  unless match.postmatch.blank? %>
									<% end %>
								</td>
							</tr>
							<% end %>
						<% end %>						
					</tbody>
				</table>
			</section>
		</div>

		<div class="col-md-8">
			<%= render 'playerlist' %>
<!-- Render playerlist here -->
		</div>
	</div>
</div>