<% @blogposts.each do |blogpost| %>
	<li id="Blogpost No. <%= blogpost.id %>">
	  <h3><%= blogpost.title %></h3>
    <p>
    	<%= sanitize truncate(blogpost.content, length: 160, escape: false )%>
    	<%= link_to 'read more', blogpost %>
    </p>
  	<div>
			<span class="badge">
				Posted by <%= blogpost.author %> 
									<%= time_ago_in_words(blogpost.created_at) %> ago
				<% if current_user.try(:admin?) %>
					|<%= link_to 'Edit', edit_blogpost_path(blogpost),
							 class: "badge-href-edit" %>
		            | <%= link_to 'Destroy', blogpost, method: :delete, 
		        			data: { confirm: 'Are you sure?' },
		        			class: "badge-href-destroy" %>
				<% end %>
			</span>
		</div>
	</li>
<% end %>