
<div class="border-form-blog">

	<%= form_for(@blogpost) do |f| %>

	<div class="form-inputs">
		<div class="col-md-3">
			<%= f.label :title %>
			<%= f.text_field :title, required: true %>

			<%= f.label :author %>
			<%= f.text_field :author, required: true %>			
		</div>
		
		<div class="col-md-9">
			<%= f.label :content %>
			<%= f.cktext_area :content, rows: "15"  %>		
		</div>
	</div>

	<div class="form-actions">
		<%= f.submit "Submit Post", class: "btn btn-primary" %>
		<%= link_to "Index", blogposts_path %>
	</div>
	<% end %>
</div>