<% provide(:title, "Blog") %>

<div class="container">
	<h1 class="center">FPLGuide Blog</h1>
	<p class="center">
		<% if current_user.try(:admin?) %>
			<%= link_to 'Create Blog Post', new_blogpost_path, class: "btn btn-primary" %>
		<% end %>		
	</p>

	<div class="row">
		<div class="col-md-2">
		</div>
				
		<div class="col-md-8">
		<%= will_paginate @blogposts %>
			<% if @blogposts.any? %>
				<ol class="blogposts">
					<%= render 'blogposts_list' %>
				</ol>	
			<% end %>
		<%= will_paginate @blogposts %>
		<div class="col-md-2">
		</div>
	</div>
</div>