<% provide(:title, @blogpost.title) %>

<div class="container">
	<div class="row">
		<div class="col-md-2">
			
		</div>
		<div class="col-md-8">

			<h1><%= @blogpost.title %></h1>
			<span class="badge">
				Posted by <%= @blogpost.author %> 
									<%= time_ago_in_words(@blogpost.created_at) %> ago
				<% if current_user.try(:admin?) %>
						|<%= link_to 'Edit', edit_blogpost_path(@blogpost), 
								 class: "badge-href-edit" %>
		        | <%= link_to 'Destroy', @blogpost, method: :delete, 
		        			data: { confirm: 'Are you sure?' }, 
		        			class: "badge-href-destroy" %>
				<% end %>
			</span><br>							

			<div class="post_content">
				<%= sanitize(@blogpost.content) %>
			</div>

			<nav>
			  <ul class="pager">
					<% if @previous %>
				    <li><%= link_to "Previous", @previous	%></li>
			    <% end %>
			    <li><%= link_to "Index", blogposts_path %></li>
					<% if @next %>
				    <li><%= link_to "Next", @next	%></li>
			  	<% end %>					
			  </ul>
			</nav>

		</div>
		<div class="col-md-2">
			
		</div>
		
	</div>
</div>
