<!DOCTYPE html>
<html>
<head>
	<title>FPL Guide</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

	<style>
		/* http://css-tricks.com/perfect-full-page-background-image/ */
		html {
			background: url(http://upload.wikimedia.org/wikipedia/commons/7/72/Old_Trafford_02.JPG) no-repeat center center fixed; 
			-webkit-background-size: cover;
			-moz-background-size: cover;
			-o-background-size: cover;
			background-size: cover;
		}

		body {
			padding-top: 20px;
			font-size: 16px;
			font-family: "Open Sans",serif;
			background: transparent;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
		}

	</style>
	<%= render 'layouts/shim' %>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 panel panel-default">
				<h1 class="margin-base-vertical">The Ultimate Guide to Fantasy Premier League Is Coming Soon!</h1>
				<p>
					Get the lowdown on every single player available for selection and analysis on teams and matches. 
				</p>
				<p>
					When it's over, so they say, it'll rain a sunny day. I know,	Shinin down like water.
				</p>

				<%= form_for(@subscriber) do |f| %>
					<p class="input-group">
						<span class="input-group-addon"><span class="icon-envelope"></span></span>

						  <%= f.text_field :email %>
					</p>
					<p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
					<p class="text-center">
						  <%= f.submit "Subscribe" %>
				<% end %>
					</p>
					</span>

				<div class="margin-base-vertical">
					<small class="text-muted"><a href="http://www.flickr.com/photos/erwlas/6133364748/">Background picture by erwlas @flickr</a>. Used under <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons - Attribution</a>.</small>
				</div>

			</div><!-- //main content -->
		</div><!-- //row -->
	</div> <!-- //container -->

</body>
</html>