<% provide(:title, "Home") %>

<div class="row">
	<div class="col-xs-12 col-md-12 col-lg-12">
		<h3>Welcome, <strong><%= @user.username %></strong>! Enjoy the guide</h3>
	</div>

	<div class="col-xs-12 col-md-4">
		<%= render '/matches/matches_list' %>
	</div>

	<div class="col-xs-12 col-md-8">

		<div class="tabbable-panel">
			<div class="tabbable-line">
				
				<!-- Tabs -->
				<ul class="nav nav-tabs ">
					<li class="active">
						<a href="#tab_default_1" data-toggle="tab">
						Your Fantasy Team </a>
					</li>
					<li>
						<a href="#tab_default_2" data-toggle="tab">
						League Table </a>
					</li>
					<li>
						<a href="#tab_default_3" data-toggle="tab">
						All Players </a>
					</li>
					<li>
						<a href="#tab_default_4" data-toggle="tab">
						All Users </a>
					</li>					
				</ul>

				<!-- Content -->
				<div class="tab-content">
					<div class="tab-pane active" id="tab_default_1">
						<div class="row">
							<%= render '/shared/fantasyteam' %>
						</div>
					</div>

					<div class="tab-pane" id="tab_default_2">
						<%= render '/shared/league_table' %>
					</div>
					
					<div class="tab-pane" id="tab_default_3">
						<%= render '/players/search_player' %>
						<%= render '/shared/all_players' %>	
					</div>
					<div class="tab-pane" id="tab_default_4">
						<%= render '/shared/all_users' %>
					</div>	
				</div>
			</div>
		</div>

	</div>	
</div>
								
