
<!-- Main Jumbotron -->
<div class="jumbotron">
	<div class="container">
		<h1>Fantasy Premier League Guide</h1>
		<h4>The only guide you need to pick your team and score big points every week. </h4>
		<h4><strong>Currently still under development</strong></h4>
		<%= link_to "Go to landing page", root_path, class: "btn btn-primary" %>
		<%= link_to "Go to the FPL Guide Blog", blogposts_path, class: "btn btn-info" %>
	</div>
</div>

<!-- The small heading infos below the Jumbotron -->
<div class="container">
	<div class="row">

        <!-- Boxes de Acoes -->
    	<div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-thumbs-o-up"></i></div>
					<div class="info">
						<h3 class="title">Match Previews</h3>
						<p>
							Get a lowdown prediction on every match in the next fixture.
							The tactics, line-ups, players, and key battles are there to
							help you gain optimum points from the fixture.
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-flag"></i></div>
					<div class="info">
						<h3 class="title">Player Information</h3>
    					<p>
								Take a closer look on each player available for selection of Fantasy Premier League.
								Understand their position, role, and playing style to gain insight on how
								they can earn you points.
							</p>
						<div class="more">
							<a href="#" title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>
			
        <div class="col-xs-12 col-sm-6 col-lg-4">
			<div class="box">							
				<div class="icon">
					<div class="image"><i class="fa fa-desktop"></i></div>
					<div class="info">
						<h3 class="title">Team Analysis</h3>
    				<p>
							Look into each team's possible formation, tactics, and form so you can take
							it into consideration when you pick your players.
						</p>
						<div class="more">
							<a href="#" title="Title Link">
								Read More <i class="fa fa-angle-double-right"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="space"></div>
			</div> 
		</div>		    
		<!-- /Boxes de Acoes -->
	</div>
</div>
