<p>
  Should you be unhappy with the service, you have three options available: <strong>Suspend subscription, Cancel subscription, Cancel account</strong>.
</p>
<div class="row">
  <div class="col-md-4">
    <% if subscription_exists?(current_user) || current_user.admin?  %>
      <h4>Suspend my subscription</h4>
      <%= link_to "Suspend My Subscription", paypal_suspend_path, 
          :data => { :confirm => "Are you sure?" }, 
          class: "btn btn-danger" %>
      <p><i>This will suspend your subscription payment which means you will be granted limited access to the site. However, your account will not be cancelled and you can later reactivate your subscription to get the normal access</i></p>
    <% else %>
      <h4>Reactivate my subscription</h4>
      <%= link_to "Reactivate My Subscription", paypal_reactivate_path,
        class: "btn btn-success" %>        
      <p><i>Reactivate your subscription by resuming the payment and get the normal access</i></p>
    <% end %>
  </div>
  <div class="col-md-4">
    <h4>Cancel my subscription</h4>
    <%= link_to "Cancel My Subscription", paypal_cancel_path, 
        :data => { :confirm => "Are you sure?" }, 
        class: "btn btn-danger" %>
    <p><i>Cancel your subscription and lose the normal access, but your account still exists. You can re-subscribe by going through the paypal checkout once more.</i></p>        
  </div>
  <div class="col-md-4">
    <h4>Cancel my account</h4> 
    <%= button_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete,
      class: "btn btn-danger" %>
    <p><i>The saddest option of all, this will wipe out your subscription and account, making it no longer available at later date.</i></p>
  </div>
</div>
