<% provide(:title, "Sign up") %>
<%= devise_error_messages! %>

<% provide(:title, "Edit") %>
<%= devise_error_messages! %>

<body id="login">
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-lock">           
          </span>Edit your account<%= resource_name.to_s.humanize %>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), 
            html: { method: :put }) do |f| %>
            <%= f.error_notification %>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Username
              </label>
              <div class="col-sm-9">
               <%= f.text_field :username, 
               		required: true,  autofocus: true %>    
              </div>
            </div>

            <div class="form-group">
              <label for="inputEmail3" class="col-sm-3 control-label">Email
              </label>
              <div class="col-sm-9">
                <%= f.email_field :email, 
                	required: false, autofocus: true %>
              </div>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-3 control-label">New Password
              </label>
              <div class="col-sm-9">
     			<%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-3 control-label">Confirm New Password
              </label>
              <div class="col-sm-9">
      			<%= f.input :password_confirmation, required: false %>
              </div>
            </div>

            <div class="form-group">
              <label for="inputPassword3" class="col-sm-3 control-label">Current Password
              </label>
              <div class="col-sm-9">
      			<%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true %>
              </div>
            </div>

            <div class="form-group">
              <div>
                   
              </div>
            </div>

            <div class="form-group last">

              <%= f.submit "Update my account", class: "btn btn-success btn-large" %>       

            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= link_to "Back", :back %>
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
