<% provide(:title, "Edit Account") %>
<div class="container">
  
  <h2>Edit Your <%= resource_name.to_s.humanize %> Account</h2>

  <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="row">
    <div class="col-md-4">
      
      <%= f.text_field :username, autofocus: true %>
      <%= f.text_field :fantasy_team_name, autofocus: true %>  
      <%= f.email_field :email, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <%= f.file_field :photo, label: "Profile Picture" %>
    </div>

    <div class="col-md-4">
      <%= f.password_field :password, label: "New Password", autocomplete: "off", required: false %>
      <%= f.password_field :password_confirmation, label: "New Password Confirmation", :help_block => "leave  these two blank if you don't want to change password", autocomplete: "off", required: false %>      
    </div>

    <div class="col-md-4">
      <%= f.password_field :current_password, :help_block => "we need your current password to confirm your changes", autocomplete: "off", :required => true %>

      <%= f.submit "Update" %>
      <%= link_to "Back", :back, class: "btn btn-info" %>
    </div>
  </div>
  <% end %>
  
<!--   <div class="cancellation">
  </div> -->
</div>
