<% provide(:title, "Sign Up") %>
<%= devise_error_messages! %>

<div class="container-fluid">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>    
  <section class="container">
  <div class="container-page" id="regis">        
    <div class="col-md-6" id="regisform">
      <h3 class="dark-grey">Sign Up</h3>

      <div class="form-group col-lg-12">
        <label>Username</label>
        <%= f.text_field :username, required: true, placeholder: ("4 characters minimum, no spaces"), 
          class: "form-control" %>
      </div>

      <div class="form-group col-lg-12">
        <label>Email Address</label>
        <%= f.text_field :email, required: true, 
          placeholder: ("Please enter a valid email address"),
          autofocus: true, class: "form-control" %>
      </div>        

      <div class="form-group col-lg-12">
        <label>Fantasy Team Name</label>
        <%= f.text_field :fantasy_team_name, required: true, 
          placeholder: ("Please enter your team name"),
          autofocus: true, class: "form-control" %>
      </div>        

      <div class="form-group col-lg-6">
        <label>Password</label>
        <%= f.password_field :password, required: true, placeholder: ("#{@minimum_password_length} characters minimum" if @validatable), 
          class: "form-control" %>
      </div>
      
      <div class="form-group col-lg-6">
        <label>Confirmation</label>
        <%= f.password_field :password_confirmation,
          placeholder: ("Enter your password once more"),
          required: true, class: "form-control" %>      
      </div>

      <div class="col-sm-8 offset-4">
        <%= f.submit "Sign Up", class: "btn btn-large btn-primary" %> 
        or <%= render "devise/shared/links" %>
      </div>

    </div>
    
    <div class="col-md-6">
      <h3 class="dark-grey">Terms and Conditions</h3>
      <p>
        By clicking on "Create my account" you agree to our Terms and Conditions
      </p>
      <p>
        Upon registering, you will get a 14 days of trial. You will be able to continue your subscription by paying the monthly fee after your trial period is over.
      </p>
      <p>
        You acknowledge that every thing regarding the handling of payment 
        will be done through Paypal Express Checkout and that we will never ask or store any credit card information from you. Should you oddly be asked to provide such information when accessing this site, please be sure to inform us.
      </p>
      <p>
        Should there be any error regarding the payment, we will provide you with a full refund if you seek to do so.
      </p>
    </div>

  </div>
  </section>
  <% end %>
</div>
