<div class="container-fluid">
	<section class="container">
		<div class="container-page">

			<%= bootstrap_form_for([@match, @team_stat]) do |f| %>
			<div class="row">
				<%= f.select :team_id, [ [@hometeam.name, @hometeam.id], [@awayteam.name, @awayteam.id] ], { prompt: true }, required: true %>
				
				<div class="col-md-2">
					<%= f.select :point, [ ['Win', 3], ['Draw', 1], ['Lose', 0] ], 
					{ prompt: true }, required: true  %>
				</div>

				<div class="col-md-2">
					<%= f.number_field :score, in: 0..10, step: 1, required: true %>
				</div>

				<div class="col-md-2">
					<%= f.number_field :concede, in: 0..10, step: 1, required: true %>
				</div>

				<div class="col-md-2">
					<%= f.number_field :shot, in: 0..30, step: 1 %>
				</div>

				<div class="col-md-2">
					<%= f.number_field :on_target, in: 0..30, step: 1 %>
				</div>
			
				<div class="col-md-2">
					<%= f.number_field :offside, in: 0..30, step: 1 %>
				</div>
				<div class="col-md-2">
					<%= f.number_field :foul, in: 0..50, step: 1 %>
				</div>
				<div class="col-md-2">
					<%= f.number_field :yellow_card, in: 0..15, step: 1 %>
				</div>
				<div class="col-md-2">
					<%= f.number_field :red_card, in: 0..3, step: 1 %>
				</div>
				<div class="col-md-2">
					<%= f.number_field :possession, in: 0.1..0.9, step: 0.01 %>
				</div>
				<div class="col-md-2">
					<%= f.submit "Submit Stats", class: "btn btn-large btn-success" %>
				</div>
				<div class="col-md-2">
					<%= link_to "Back", match_path(@match), class: "btn btn-large btn-info" %>					
				</div>
			</div>
			<% end %>
		</div>
	</section>
</div>