<div class="panel panel-default">
  <div class="panel-heading" id="squad">
    Edit Match Stats
  </div>
  <%= bootstrap_form_for :team_stat, :url => match_update_team_stats_path, :html => { :method => :put } do %>
    <table>
      <tr>
        <th class="squad">Team</th>
        <th class="squad">Point</th>
        <th class="squad">Score</th>
        <th class="squad">Concede</th>
        <th class="squad">Shot</th>
        <th class="squad">On Target</th>
        <th class="squad">Offside</th>
        <th class="squad">Foul</th>
        <th class="squad">Yellow Card</th>
        <th class="squad">Red Card</th>
        <th class="squad">Possession</th>
      </tr>
      <% @team_stats.each do |team_stat| %>
        <%= fields_for "team_stat[]", team_stat do |team_stat_fields| %>
      <tr>
        <td class="identifier">
          <strong>
            <%= link_to team_stat.team.name, team_path(team_stat.team)  %>
          </strong>
        </td>
        <td class="checkbox_field">
          <%= team_stat_fields.select :team_id, [ [@hometeam.name, @hometeam.id], [@awayteam.name, @awayteam.id] ], { prompt: true }, required: true %>
        </td>
        <td class="checkbox_field">
          <%= team_stat_fields.select :point, [ ['Win', 3], ['Draw', 1], ['Lose', 0] ], 
          { prompt: true }, required: true  %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :score, in: 0..10, step: 1 %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :concede, in: 0..10, step: 1 %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :shot, in: 0..30, step: 1 %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :offside, in: 0..30, step: 1 %>
        </td>        
        <td class="num_field">
          <%= team_stat_fields.number_field :foul, in: 1..10, step: 1 %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :yellow_card, in: 1..11, step: 1 %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :red_card, in: 1..3, step: 1 %>
        </td>
        <td class="num_field">
          <%= team_stat_fields.number_field :possession, in: 0.0..0.9, step: 0.01 %>
        </td>
      </tr>
        <% end %>
      <% end %>
    </table>

    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
  
</div>

<%= link_to "Back", match_path(@match) %>