<% provide(:title, "User Detail") %>

<div class="row">
	<div class="col-xs-3 col-md-3">
	    <div class="col-md-12 col-xs-12" align="center">
            <div class="line">
            </div>
            <div class="outter">
				<%= image_tag(@user.photo.url(:small), class: "image-circle") %>
            </div>   
            <h1><%= @user.username %></h1>
            <span></span>
	    </div>
        <div class="col-md-6 col-xs-6 follow line" align="center">
            <h3>
                 125651 <br/> <span>FOLLOWERS</span>
            </h3>
        </div>
        <div class="col-md-6 col-xs-6 follow line" align="center">
            <h3>
                 125651 <br/> <span>FOLLOWERS</span>
            </h3>
        </div>
        
        <div class="col-md-12 col-xs-12 login_control">
            <div class="control">
                <div class="label">Email Address</div>
                <input type="text" class="form-control" value="admin@gmail.com"/>
            </div>
                
	        <div class="control">
	             <div class="label">Password</div>
	            <input type="password" class="form-control" value="123456"/>
	        </div>
	        <div align="center">
	             <button class="btn btn-orange">LOGIN</button>
	        </div>
        </div>
	</div>

	<div class="col-xs-9 col-md-9">
		<%= render '/shared/fantasyteam' %>
	</div>
</div>