/* Mixins, Variables, etc. */

$grayMediumLight: #eaeaea;

$iconSpritePath: '';
$iconWhiteSpritePath: '';

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@font-face {
}
