// Place all the styles related to the blogposts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.blogposts {
	list-style: none;
	margin: 10px 0 0 0;
	li {
	padding: 10px 0;
	border-top: 1px solid #e8e8e8;
	}	
}

.post_content {
	text-align: justify;
	padding-bottom: 25px;
	padding-top: 25px;
}

.badge {
	padding-bottom: 10px;
}

.badge-href-edit {
	color: #84FA05;
	padding-left: 5px;
}

.badge-href-destroy {
	color: #FC0000;
	padding-left: 5px;
}

.border-form-blog {
  max-width: 1200px;
  padding: 20px 20px 20px 20px;
}

textarea#blogpost_content {
	width: 600px;
	height: 900px;
}
