/* Sign up Page */
div#regis {
  margin-top: 50px;
}

div#regisform {
  border-style: outset;
  border-width: medium;
  border-color: #13206B;
  padding-bottom: 20px;
}


/* Sign in Page */
#login { 
  background: url(image_path('Barclays_Premier_League_Trophy_.jpg')) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-color: black;
}
.panel-body {
  padding-left: 40px;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom: 10px; }



div.controls {
  margin-bottom: 10px;
}

label {
  &.col-sm-3.control-label {
  text-align: left;
  }
  &.boolean.optional.col-lg-2.control-label {
    width: 200px;
    text-align: left;
    padding-left: 0px;
  }
  .checkbox {
    color: #000;
  }
}

div{
  &.col-lg-10 {
  width: 30px;
  padding-right: 0px;
  padding-left: 50px;
  }
}

input#login.btn.btn-large.btn-primary {
  margin-left: 20px;
}

/* Edit Account Page */

div.panel.panel-default {
  &#edit {
    width: 400px;
  }
}

span.glyphicon.glyphicon-cog {
  content:"\e019";
}

small.placeholder {
  font-style: italic;
}

#pass1,
#pass2,
#pass3 {
  width: 200px;
}

.cancellation {
  border-style: solid;
  padding-left: 10px;
  margin-top: 20px;
}