// Place all the styles related to the Fixtures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Match */
	/* Show */

.match_squad {
	background-color: #020F24;
	color: white;
}

.blue-heading {
	background-color: #020F24;
}

/* Squad Players */
	/* Edit */
div#squad {
	background-color: #020F24;
	color: white;
}

tr {
	margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	td {
		text-align: center;	
	}
}

th.squad {
	margin-right: 5px;
	text-align: center;
}

td.identifier {
		width: 10%;
}

td.num_field, td.checkbox_field {
	width: 5%;
	input {
		width: 50%; 
		text-align: center;
		margin-bottom: 5px;
	}
}


/* Match Stats, Post-Match */
h3#review-heading {
	margin-bottom: 30px;
}

#pre-match, #post-match {
	padding-left: 20px;
	padding-right: 10px;
	padding-top: 10px;
}

#match-stats th {
	text-align: center;
}

.centerbar {
	font-weight: bold;
	color: white;
	background-color: #020F24;
}