// Place all the styles related to the Subscribers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body#landing{
	padding-top: 5px;
}

section#intro {
	background: url("http://fifawallpapers.com/wp-content/uploads/2014/02/Sergio-Aguero-22.jpg") no-repeat center center fixed;  
	height: auto;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding-top: 100px;
    padding-bottom: 200px;
}
section#home { 
	background-color: white;
	height: auto;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding-top: 20px;
    padding-bottom: 100px;
}
section#about { 
	background-color: black;
	height: auto;
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding-top: 20px;
    padding-bottom: 50px;
    color: #fff;
}

h1 {
	font-family: "Abel", Arial, sans-serif;
	font-weight: 400;
	font-size: 40px;
}

p.input-group {
	padding-right: 20px;
}

input#subscriber_email {
	height: 30px;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
	background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
	margin: 40px 0;
}

/* Contact Form */
/*.form-control{
background: transparent;
}*/
/*form {
	width: 320px;
}
form > div {
	position: relative;
	overflow: hidden;
}
form input, form textarea {
	border: 2px solid gray;
	background: none;
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
	padding: 8px 12px;
	outline: 0;
}
input#message_name:valid, input#message_email:valid, 
input#message_subject:valid, form textarea:valid {
	background: white;
}
form input:focus, form textarea:focus {
	border-color: #357EBD;
}
form input:focus + label, form textarea:focus + label {
	background: #357EBD;
	color: white;
	font-size: 70%;
	padding: 1px 6px;
	z-index: 2;
	text-transform: uppercase;
}
form label {
	-webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
	position: absolute;
	color: #999;
	padding: 7px 6px;
	font-weight: normal;
}
form textarea {
	display: block;
	resize: vertical;
}

textarea.form-control {
	height: 120px;
}

.btn-success {
	background: black;
}*/