// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang
/* Team Show Sidebar */
.team_sidebar {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.label {
  font-size: 120%;
}
