<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav nav-pills nav-stacked">
        <li class="active">
          <%= link_to 'Add Team', new_team_path %>
        </li>
        <li>
          <%= link_to 'Add Player', new_player_path %>
        </li>
        <li>
          <%= link_to 'Add Match', new_match_path %>
        </li>
        <li>
          <%= link_to 'Go to Plans', plans_path %>
        </li>
        <li>
          <%= link_to 'View Subscriptions', subscriptions_path %>
        </li>
        <li>
        <li>
          <a href="http://www.jquery2dotnet.com"><i class="fa fa-cogs fa-fw"></i>Settings</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <%= render '/shared/userlist' %>
    </div>
  </div>
</div>


	            	            
	            	