<h2 id="userlist">All users</h2>

<div class="row">
    <% @users.each do |user| %>
	    <div class="col-md-6 col-lg-6">
	        <div class="media">
	            <a class="pull-left" href="#">
	            	<%= image_tag(user.photo.url(:small), class: "media-object dp img-circle all-users") %>
	            </a>
	            <div class="media-body">
	                <h4 class="media-heading">
	                	<%= user.username %> 
	                	<small><%= link_to "View User", user_path(user) %></small>
	                </h4>
	                <h5>Team: <%= user.fantasy_team_name %> </h5>
	                <hr style="margin:8px auto">

	                <span class="label label-default"></span>
	                <span class="label label-default"></span>
	                <span class="label label-info"></span>
	                <span class="label label-default"></span>
	            </div>
	        </div>

	    </div>	
    <% end %>
</div>
