<div class="col-xs-12 col-md-8 custyle" id="players">
  <table class="table table-striped custab">
		<thead>
    	<tr>
        <th>Name</th>
        <th>Position</th>
        <th>Club</th>
    	</tr>
		</thead>
		<% @players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.pref_position %></td>
        <td><%= player.team.name %></td>
    	</tr>
		<% end %>
  </table>
	  <div id="infinite-scrolling">
	  	<%= will_paginate @players %>
	  </div>
</div>
