<li id="<%= fantasy_player.id %>">
	<span class="row">
		<span class="col-md-2">
		    <%= image_tag(fantasy_player.player.photo.url(:small), class: "gravatar") %>			
		</span>
		<span class="col-md-10">
			<span class="player">
				<%= link_to fantasy_player.player.name, fantasy_player.player %>
				| <%= link_to fantasy_player.player.team.name, fantasy_player.player.team.name %>
			</span>
			<span class="content">
				Preferred Position: <%= fantasy_player.player.pref_position %>  |
				Number of Starting Apperances: <%= fantasy_player.player.appearances %>
			</span>
			<span class="timestamp">
				Picked <%= time_ago_in_words(fantasy_player.created_at) %> ago	
			</span>
			<span class="delete">
				<% if current_user == fantasy_player.user %>
					<%= link_to "Remove", fantasy_player, method: :delete, 
						data: { confirm: "You sure?" } %>
				<% end %>
			</span>		
		</span>
			
	</span>
</li>