<div class="col-xs-12 col-md-12">
	<% if @fantasy_players.any? %>
		<ol class="microposts">
			<%= render partial: 'shared/fantasy_player', collection: @fantasy_players %>
		</ol>
	<% else %>
		There are no fantasy players picked yet.
	<% end %>
</div>