<table class="table" id="match-stats">
    <thead>
        <tr>
            <th></th>
            <th>Points</th>
            <th>Wins</th>
            <th>Draws</th>
            <th>Loses</th>
            <th>Goals For</th>
            <th>Goals Against</th>
            <th>Difference</th>
        </tr>
    </thead>
    <tbody>
    	<% @teams.each do |team| %>
    	<tr>
	    		
	        <td><%= link_to team.name, team_path(team) %></td>
	        <td><%= team.league_points %></td>
	        <td><%= team.won %></td>
	        <td><%= team.drawn %></td>
	        <td><%= team.lost %></td>
	        <td><%= team.goals_for %></td>
	        <td><%= team.goals_against %></td>
            <td><%= team.goal_difference %></td>
      </tr>
      <% end %>
    </tbody>
</table>
