<div class="col-xs-12 col-md-6 custyle">
  <table class="table table-striped custab">
		<thead>
			<h5 class="text-center"><%= side %> Team: Predicted Squad</h5> 
    	<tr>
        <th>Name</th>
        <th>Position</th>
        <th>Apps</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Yellow</th>
        <th>Red</th>
    	</tr>
		</thead>
		<% players.each do |player| %>
			<% if called?(player) %>
				  <tr>
		        <td><%= player.name %></td>
		        <td><%= player.pref_position %></td>
		        <td><%= player.appearances %></td>
		        <td><%= player.goals %></td>
		        <td><%= player.assists %></td>
		        <td><%= player.yellow %></td>
		        <td><%= player.red %></td>
	    		</tr>
			<% end %>
		<% end %>
  </table>

</div>