<div class="col-xs-12 col-md-8 col-md-offset-2 custyle post-match">

  <table class="table table-striped custab">
		<thead>
			<h5 class="text-center"><%= side %> Side</h5> 
    	<tr>
    		<th></th>
        <th>Name</th>
        <th>Starters?</th>
        <th>Minutes</th>
        <th>Scored</th>
        <th>Assisted</th>
        <th>Cautioned?</th>
        <th>Sent-off?</th>
        <th>Rating</th>
    	</tr>
		</thead>
		<% players.each do |player| %>
			<% if player.player.team_id == team %>
				  <tr>
				  	<td><%= link_to "Edit Stats", 
				  			edit_match_squad_player_path(match, player) %></td>
		        <td><%= player.player.name %></td>
		        <td><%= player.starting? %></td>
		        <td><%= player.lasting %></td>
		        <td><%= player.scored %></td>
		        <td><%= player.assisted %></td>
		        <td><%= ("No").html_safe unless player.cautioned? %></td>
		        <td><%= ("No").html_safe unless player.sent_off? %></td>
		        <td><%= player.rating %></td>
	    		</tr>
	    <% end %>
		<% end %>
  </table>

  
</div>