<div class="col-xs-12 col-md-6 custyle" id="players">
  <table class="table table-striped custab">
		<thead>
			<h3 class="text-center"><%= side %> Team</h3> 
    	<tr>
        <th>Name</th>
        <th>Position</th>
        <th>Action</th>
    	</tr>
		</thead>
		<% players.each do |player| %>
      <tr>
        <td><%= link_to player.name, player %></td>
        <td><%= player.pref_position %></td>
        <td>
        	<%= render partial: 'squad_form', locals: { player: player, 
        			match: match, squad_player: find_squadplayer(match, player) } %>
        </td>
    	</tr>
		<% end %>
  </table>
</div>