<% if match.team_stats.any? %>
    <table class="table" id="match-stats">
        <thead>
            <tr>
                <th><%= home.ticker %></th>
                <th>Stats</th>
                <th><%= away.ticker %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th><%= home_stat.score unless home_stat.nil? %></th>
                <th class="centerbar">Goals</th>
                <th><%= away_stat.score unless away_stat.nil? %></th>
            </tr>
            <tr>
                
                <th>
                    <% unless home_stat.nil? %>
                        <%= home_stat.shot %>(<%= home_stat.on_target %>)
                    <% end %>
                </th>
                <th class="centerbar">Attempts(on target)</th>
                <th>
                    <% unless away_stat.nil? %>
                        <%= away_stat.shot %>(<%= away_stat.on_target %>)
                    <% end %>                
                </th>
            </tr>
            <tr>
                <th><%= home_stat.offside unless home_stat.nil? %></th>
                <th class="centerbar">Offsides</th>
                <th><%= away_stat.offside unless away_stat.nil? %></th>  
            </tr>
            <tr>
                <th><%= home_stat.foul unless home_stat.nil? %></th>
                <th class="centerbar">Fouls</th>
                <th><%= away_stat.foul unless away_stat.nil? %></th>
            </tr>
            <tr>
                <th><%= home_stat.yellow_card unless home_stat.nil? %></th>
                <th class="centerbar">Yellow Cards</th>
                <th><%= away_stat.yellow_card unless away_stat.nil? %></th>
            </tr>
            <tr>
                <th><%= home_stat.red_card unless home_stat.nil? %></th>
                <th class="centerbar">Red Cards</th>
                <th><%= away_stat.red_card unless away_stat.nil? %></th>
            </tr>
            <tr>
                <th><%= home_stat.possession unless home_stat.nil? %></th>
                <th class="centerbar">Possessions</th>
                <th><%= away_stat.possession unless away_stat.nil? %></th>
            </tr>
            <tr>
                <th></th>
                <th><%= link_to 'Edit Match Stats', match_edit_team_stats_path(match) %></th>
                <th></th>
            </tr>
        </tbody>
    </table>
<% end %>
