<h2 id="userlist">All users</h2>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<h4><%= user.username %></h4>
			<span><%= user.email %></span>
			<span>
				<% if current_user.admin?  %>
				|	<%= link_to "Delete", '#', method: :delete, 									data: {confirm: "You sure?" } %>
				<% end %>
			</span>	
		</li>		
	<% end %>

</ul>
<%= will_paginate @users %>
