<div class="panel panel-default">
  <div class="panel-heading" id="squad">
    Edit <%= @squad_player.player.name %>'s Match Performance
  </div>
  <%= form_for([@match, @squad_player]) do |f| %>
    <table>
      <tr>
        <th class="squad">Gameweek</th>
        <th class="squad">Starting</th>
        <th class="squad">Lasting</th>
        <th class="squad">Scored</th>
        <th class="squad">Assisted</th>
        <th class="squad">Cautioned</th>
        <th class="squad">Sent-off</th>
        <th class="squad">Points</th>
        <th class="squad">Rating</th>
      </tr>
      <tr>
        <td class="num_field">
          <%= f.hidden_field :gameweek, value: set_gameweek(@match) %>
        </td>
        <td class="checkbox_field">
          <%= f.check_box :starting %>
        </td>
        <td class="num_field">
          <%= f.number_field :lasting, in: 1..90, step: 1 %>
        </td>
        <td class="num_field">
          <%= f.number_field :scored, in: 0..10, step: 1 %>
        </td>
        <td class="num_field">
          <%= f.number_field :assisted, in: 0..10, step: 1 %>
        </td>
        <td class="checkbox_field">
          <%= f.check_box :cautioned %>
        </td>
        <td class="checkbox_field">
          <%= f.check_box :sent_off %>
        </td>
        <td class="num_field">
          <%= f.number_field :point_gained, in: -10..30, step: 1 %>
        </td>
        <td class="num_field">
          <%= f.number_field :rating, in: 1..10, step: 1 %>
        </td>
      </tr>
    </table>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-success" %>
    </div>
  <% end %>
  
</div>

<%= link_to "Back", match_path(@match) %>