<div class="panel panel-default">
  <div class="panel-heading" id="squad">
    Edit Squad Players
  </div>
  <%= bootstrap_form_for :squad_player, :url => match_update_squad_players_path, :html => { :method => :put } do %>
    <table>
      <tr>
        <th class="squad">Team</th>
        <th class="squad">Name</th>
        <th class="squad">Gameweek</th>
        <th class="squad">Starting</th>
        <th class="squad">Lasting</th>
        <th class="squad">Scored</th>
        <th class="squad">Assisted</th>
        <th class="squad">Cautioned</th>
        <th class="squad">Sent-off</th>
        <th class="squad">Points Gained</th>
        <th class="squad">Rating</th>
      </tr>
      <% @squad_players.each do |squad_player| %>
        <%= fields_for "squad_player[]", squad_player do |squad_player_fields| %>
      <tr>
        <td class="identifier">
          <strong>
            <%= link_to squad_player.player.team.name, team_path(squad_player.player.team)  %>
          </strong>
        </td>
        <td class="identifier">
          <strong>
            <%= link_to squad_player.player.name, player_path(squad_player.player) %>
          </strong>
        </td>
        <td class="num_field">
          <%= f.hidden_field :gameweek, value: set_gameweek(@match) %>
        </td>
        <td class="checkbox_field">
          <%= squad_player_fields.check_box :starting %>
        </td>
        <td class="num_field">
          <%= squad_player_fields.number_field :lasting, in: 1..90, step: 1 %>
        </td>
        <td class="num_field">
          <%= squad_player_fields.number_field :scored, in: 0..10, step: 1 %>
        </td>
        <td class="num_field">
          <%= squad_player_fields.number_field :assisted, in: 0..10, step: 1 %>
        </td>
        <td class="checkbox_field">
          <%= squad_player_fields.check_box :cautioned %>
        </td>
        <td class="checkbox_field">
          <%= squad_player_fields.check_box :sent_off %>
        </td>
        <td class="num_field">
          <%= squad_player_fields.number_field :point_gained, in: -10..30, step: 1 %>
        </td>        
        <td class="num_field">
          <%= squad_player_fields.number_field :rating, in: 1..10, step: 1 %>
        </td>
      </tr>
        <% end %>
      <% end %>
    </table>

    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
  
</div>

<%= link_to "Back", match_path(@match) %>