<h1>Signing up for "<%= @subscription.plan.name %>"</h1>
for only <strong><%= number_to_currency @subscription.plan.price %></strong> per month!</p>

<%= form_for @subscription do |f| %>
  <% if @subscription.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
      <ul>
      <% @subscription.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :plan_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :paypal_customer_token %>
  <%= f.hidden_field :paypal_payment_token %>
  
  <% if @subscription.payment_provided? %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    Payment has been provided. Fill the field and click "Subscribe" to complete the subscription.
  <% else %>

	  <div id="paypal_checkout">
	    <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(plan_id: @subscription.plan_id) %>
	  </div>
  <% end %>

  <%= f.submit "Subscribe" %>
<% end %>
