<% provide(:title, "Sign in") %>
<%= devise_error_messages! %>

<div class="border-form-div">
	<h2 class="center">Sign in</h2>
	<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
	  <div class="form-inputs">
	    <%= f.email_field :email, required: false, placeholder: 'Email address', autofocus: true %>
	    <%= f.password_field :password, placeholder: 'Password', required: false %>
	    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
	  </div>

	  <div class="form-actions">
	    <%= f.submit "Sign me in", class: "btn btn-large btn-primary" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>
</div>