<% provide(:title, "Sign In") %>

<body id="login">
<div class="container">
<%= devise_error_messages! %>
  <div class="row">
    <div class="col-md-4 col-md-offset-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="glyphicon glyphicon-lock">           
          </span> <strong>Sign In</strong>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            
            <div class="form-group col-xs-12 col-lg-12">
              <%= f.email_field :email, label: false, placeholder: 'Email address', autofocus: true %>                
            </div>

            <div class="form-group col-xs-12 col-lg-12">
              <%= f.password_field :password, label: false, placeholder: 'Password' %>
            </div>

            <div class="form-group col-xs-12 col-lg-12">
              <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>          
            </div>

            <div class="form-group last">
              <%= f.submit "Sign In", class: "btn btn-large btn-primary", id: "login" %>        
            </div>
          <% end %>
        </div>
        <div class="panel-footer">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
