<div class="container-fluid">
	<section class="container">
		<div class="container-page">
			<%= bootstrap_form_for(@player) do |f| %>

			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<section class="clear">
						<%= f.text_field :name, placeholder: "Name" %>
					</section>
				</div>
			</div>

				<div class="col-md-4">
					<div class="form-group col-lg-12">
						<%= f.file_field :photo %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :team_id %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :number, in: 1..100, step: 1 %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :appearances, in: 0..38, step: 1%>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :goals, in: 0..50, step: 1 %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :assists, in: 0..38, step: 1%>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :yellow, in: 0..25, step: 1 %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.number_field :red, in: 0..10, step: 1 %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.select(:pref_position, 
									["Goalkeeper","Central Defender",  "Full-back", "Wing Back",
										"Defensive Midfielder", "Central Midfielder",
										 "Attacking Midfielder", "Winger", 	
										 "Forward"]) %>
					</div>

					<div class="form-group col-lg-12">
					<%= f.select(:playing_roles,
				 						["Goalkeeper", "Sweeper Keeper", 
				 						 "Stopper", "Sweeper", "Ball-Playing Defender",
				 						 "Classic Fullback", "Overlapping Fullback",
				 						 "Deep-lying Playmaker", "Achor Man", "Box-to-Box", 
				 						 "Advanced Playmaker", "No. 10", "Classic Winger", 
				 						 "Inside Forward", "Target Man", "Poacher",
				 						 "Advanced Forward"]) %>
				 	</div>
				</div>

				<div class="col-md-8">
				  <%= f.cktext_area :traits, rows: "25" %>
 				  <%= f.submit "Submit", class: "btn btn-large btn-primary" %>
				</div>

			<% end %>
		</div>
	</section>
</div>