<%= form_for(current_user.lineups.build(player_id: @player.id), remote: true) do |f| %>
	<div><%= f.hidden_field :player_id %></div>
	<%= f.submit "Pick", class: "btn btn-large btn-success" %>
<% end %>