<!-- Player picture 100x100 -->

<div class="container" style="margin-top: 20px; margin-bottom: 20px">
	<div class="row panel">
		<div class="col-md-2 col-xs-2 bg_club ">
      <%= image_tag(@player.team.photo.url(:small)) %>
		</div>
    <div class="col-md-6  col-xs-6">
      <%= image_tag(@player.photo.url(:small), class: "img-thumbnail picture hidden-xs") %>
      <%= image_tag(@player.photo.url(:small), class: "img-thumbnail visible-xs picture_mob") %>        
      <div class="header">
        <h1>
          <%= @player.number %>. <%= @player.name %> 
        </h1>
        <%= render 'pick_form' %>   
        <span><%= sanitize(@player.traits) %></span>
      </div>
    </div>
    <div class="col-md-4 col-xs-4">
      <% if current_user.admin? %>
        <%= link_to "Edit Player", edit_player_path(@player),
          class: "btn btn-primary" %>
        <%= link_to "Delete Player", player_path(@player),
          method: :delete, data: { confirm: "You sure?" },
            class: "btn btn-danger" %>        
      <% end %>
      <%= link_to "Back to the team", team_path(@team),
      class: "btn btn-info" %>                    
    </div>
  </div>   
    
	<div class="row nav" id="stats">    
    <div class="col-md-12 col-xs-12" style="margin: 0px;padding: 0px;">
      <div class="col-md-3 col-xs-3 well">
        <p class="stats">
          <%= icon('tags') %>
          <%= @player.pref_position %>, <%= @player.playing_roles %>
        </p>
      </div>
      <div class="col-md-3 col-xs-3 well">
        <p class="stats">
          <%= icon('male') %>
          <%= @player.tot_points %> in
          <%= @player.appearances %>(<%= @player.substitutes %>) appearances
        </p>
      </div>
      <div class="col-md-3 col-xs-3 well">
        <p class="stats">
          <%= icon('futbol-o') %>
          <%= @player.goals %> Goals Scored <br>   
          <%= @player.assists %> Assists
        </p>
      </div>
      <div class="col-md-3 col-xs-3 well">
        <p class="stats">
          <%= icon('flag-o') %>
          <%= @player.yellow %> Yellow card(s) <br>
          <%= @player.red %> Red card(s)
        <p>
      </div>
    </div>
  </div>
</div>