<h3>Players</h3>

<% @team.players.each do |player| %>
<br>
<div class="container">
	<div class="row">
		<div class="col-md-6">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
          	<%= player.number %>. <%= player.name %>
          </h3>
          <span class="pull-right">
            <!-- Tabs -->
            <ul class="nav panel-tabs">
              <li class="active"><a href="#tab1" data-toggle="tab">Info</a></li>
              <li><a href="#tab2" data-toggle="tab">Stats</a></li>
              <li><a href="#tab3" data-toggle="tab">Traits</a></li>
            </ul>
          </span>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <div class="tab-pane active" id="tab1">
            	Position: <%= player.pref_position %> |
            	Role: <%= player.playing_roles %>
            </div>
            <div class="tab-pane" id="tab2">
            	Goals: <%= player.goals %>
              Assists: <%= player.assists %>
              Yellow Cards: <%= player.yellow %>
              Red Cards: <%= player.red %>
            </div>
            <div class="tab-pane" id="tab3">
              <%= player.traits %>
            </div>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
<% end %>