<div class="col-xs-12 col-md-4">
	<div class="panel panel-default">
	  <div class="panel-heading" id="search-player-head">

	    <span class="panel-title">
	    	<h5 id="search-player-title">Find Player</h5>
	    </span>
		
		<span>
		<%= form_tag(players_path, :method => "get", class: "navbar-form", id: "search-player-form") do %>

		    <%= text_field_tag :search, params[:search], class: "span2", placeholder: "Search" %>
		  	<button class="btn" type="submit">
		   		<i class="icon-search"></i>
		  	</button>
		<% end %> 
		</span>
		
	  </div>
	  <div class="panel-body" id="search-player-body">
	    Search by name or position. Positions that are available
	    through the search are: <br>
	    <strong>Goalkeeper, Fullback, Central Defender,
	    Defensive Midfielder, Central Midfielder, Attacking Midfielder, Winger, Forward</strong>
	  </div>
	</div>
</div>
