<%= form_for(current_user.lineups.find_by_player_id(@player),
			 html: { method: :delete }, remote: true) do |f| %>

	<%= f.submit "Unpick", class: "btn btn-large btn-warning" %>
<% end %>

<!-- The form for line is correct -->