<div class="col-xs-12 col-md-12 custyle">
  <table class="table table-striped custab">
		<thead>
			<h3 class="text-center">Search Results</h3> 
    	<tr>
        <th class="text-center">Name</th>
        <th class="text-center">Team</th>
        <th class="text-center">Position</th>
        <th class="text-center">Apps</th>
        <th class="text-center">Goals</th>
        <th class="text-center">Assists</th>
        <th class="text-center">Yellow</th>
        <th class="text-center">Red</th>
    	</tr>
		</thead>
		<% @players.each do |player| %>
			<tr>
		        <td><%= link_to player.name, player %></td>
		        <td><%= player.team.name %></td>
		        <td><%= player.pref_position %></td>
		        <td><%= player.appearances %></td>
		        <td><%= player.goals %></td>
		        <td><%= player.assists %></td>
		        <td><%= player.yellow %></td>
		        <td><%= player.red %></td>
	    	</tr>
		<% end %>
  </table>

</div>