<% provide(:title, "Match Detail") %>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1>
			<%= link_to @match.hometeam.name, team_path(@match.hometeam) %> 
			v 
			<%= link_to @match.awayteam.name, team_path(@match.awayteam) %>
		</h1>	
	</div>
	
	<div class="col-xs-12 col-md-12">
	  <% if current_user.admin? %>
	    <%= link_to 'Edit Match', edit_match_path(@match), 
	    						  class: "btn btn-info" %>
	    <%= link_to 'Delete', match_path(@match), 
	  				method: :delete, data: { confirm: 'Are you sure?' },
	  				class: "btn btn-danger" %>
		<% end %>
	</div>

	<div class="col-xs-12 col-md-12" id="match_analysis">		
		<p><b>Match Preview</b><%= @match.prematch %></p>
	</div>

	<!-- Matchday Squad -->
	<div id="matchday_panel">
		<%= render partial: '/shared/matchday_18', locals: { players: @homeplayers, side: "Home", match: @match, squad: @squad_players, team: @match.hometeam }%>
		<%= render partial: '/shared/matchday_18', locals: { players: @awayplayers, side: "Away", match: @match, squad: @squad_players, team: @match.awayteam } %>
	</div>
	<!-- End of Matchday Squad -->


	<% if current_user.admin? %>
		<%= render partial: '/shared/teamsheet', locals: { players: @homeplayers,
				match: @match, side: "Home" } %>
		<%= render partial: '/shared/teamsheet', locals: { players: @awayplayers,
				match: @match, side: "Away" } %>
  <% end %>		

	<div class="col-xs-12 col-md-12" id="match_review">		
		<p><b>Match Review</b><%= @match.postmatch %></p>
	</div>
	
	<%= render partial: '/shared/match_review', 
							locals: { players: @squad_players, team: @match.hometeam_id} %>
	<%= render partial: '/shared/match_review', 
							locals: { players: @squad_players, team: @match.awayteam_id} %>
	<div class="col-xs-12 col-md-6-offset-3">
			<%= link_to "Edit Squad Players", match_edit_squad_players_path(@match) %>
	</div>
</div>
