<%= form_for([@match, @squad_player]) do |f| %>

	<div><%= f.hidden_field :player_id, value: player.id %></div>
	<div><%= f.hidden_field :match_id, value: match.id %></div>
	
	<%= f.submit "Bench!", class: "btn btn-xs btn-info" %>
<% end %>