<div class="container-fluid">
	<section class="container">
		<div class="container-page">

			<%= bootstrap_form_for(@match) do |f| %>
			<div class="row">
				<div class="col-md-4">
					<%= f.collection_radio_buttons :hometeam_id, Team.all,
						:id, :name %>
				</div>

				<div class="col-md-4">
					<%= f.collection_radio_buttons :awayteam_id, Team.all,
						:id, :name %>
				</div>

				<div class="col-md-4">
					<%= f.number_field :gameweek, in: 1..38, step: 1 %>
				</div>
			
				<div class="col-md-4">
					<%= f.datetime_select :kickoff %>
				</div>
			
				<div class="col-lg-12">
				  <%= f.label :prematch %>
				  <%= f.cktext_area :prematch, rows: "25" %>
				</div>

				<div class="col-lg-12">
				  <%= f.label :postmatch %>
				  <%= f.cktext_area :postmatch, rows: "25" %>

 				  <%= f.submit "Submit Match", class: "btn btn-large btn-primary" %>
				</div>
			</div>
			<% end %>
			<%= link_to "Back", user_root_path, class: "btn btn-large btn-info" %>
		</div>
	</section>
</div>