<div class="panel panel-default" id="match_panel">

	<div class="row panel-heading" id="match_heading">
		<div class="col-md-6">
			Matches |
			<% if current_user.admin? %>
				<%= link_to "Add Match", new_match_path %>
			<% end %>			
		</div>
		<div class="col-md-6">
			<%= form_tag('', method: "get", id: "gameweek-filter") do %>
				<%= select_tag :gameweek, options_for_select(@match_options), {prompt: "Gameweek" }  %>
				<%= submit_tag 'Filter', name: nil, class: "btn btn-success btn-xs" %>
			<% end %>
		</div>
	</div>
	
	<table class="match table">
	  <tr>
	    <th class="text-center">Home</th>
	    <th class="text-center">Away</th>
	    <th class="text-center">GW</th>
	    <th class="text-center">Kick-Off</th>
	  </tr>

	<% for match in @matches %>
	  <tr>
	    <td><%= link_to match.hometeam.ticker, team_path(match.hometeam) %></td>
	    <td><%= link_to match.awayteam.ticker, team_path(match.awayteam) %></td>
	    <td><%= match.gameweek %></td>
	    <td><%= match.kickoff %></td>
	    <td><%= link_to 'Details', match_path(match) %></td>
	  </tr>
	<% end %>
	</table>
</div>

