<div id="player_<%= player.id %>">
	<div class="row">
		<% if called?(player) %>
			<div class="col-xs-12 col-md-12">
				<%= render partial: 'recall', locals: { player: player, match: match, squad_player: squad_player }  %>
			</div>
		<% else %>
			<div class="col-xs-12 col-md-6" id="choose_player">
				<%= render partial: 'start', locals: { player: player, match: match, squad_player: squad_player } %>
			</div>
			<div class="col-xs-12 col-md-6">
				<%= render partial: 'bench', locals: { player: player, match: match, squad_player: squad_player } %>
			</div>			
		<% end %>		
	</div>
</div>