<%= form_for([@match, @squad_player]) do |f| %>

	<div><%= f.hidden_field :player_id, value: player.id %></div>
	<div><%= f.hidden_field :match_id, value: match.id %></div>
	<div><%= f.hidden_field :starting, value: true %></div>
	
	<%= f.submit "Start!", class: "btn btn-xs btn-success" %>
<% end %>