<div class="panel panel-default" id="match_panel">

	<div class="panel-heading" id="match_heading">
		Matches |
		<% if current_user.admin? %>
			| <%= link_to "Add Match", new_match_path %>
		<% end %>
	</div>
	
	<table class="table">
	  <tr>
	    <th>Home</th>
	    <th>Away</th>
	    <th>GW</th>
	    <th>Kick-Off</th>
	  </tr>

	<% for match in @matches %>
	  <tr>
	    <td><%= link_to match.hometeam.name, team_path(match.hometeam) %></td>
	    <td><%= link_to match.awayteam.name, team_path(match.awayteam) %></td>
	    <td><%= match.gameweek %></td>
	    <td><%= match.kickoff %></td>
	    <td><%= link_to 'Details', match_path(match) %></td>
	  </tr>
	<% end %>
	</table>
</div>