<% provide(:title, "Match Detail") %>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<h1 class="text-center">
			<%= link_to @match.hometeam.name, team_path(@match.hometeam) %> 
			v 
			<%= link_to @match.awayteam.name, team_path(@match.awayteam) %>
		</h1>	
	</div>
	<div class="col-xs-12 col-md-12">
		<div class="tabbable-panel blue-heading">
			<div class="tabbable-line">
				
				<!-- Tabs -->
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#tab_default_1" data-toggle="tab">
						Prematch </a>
					</li>
					<li>
						<a href="#tab_default_2" data-toggle="tab">
						Postmatch </a>
					</li>
					<% if current_user.admin? %>
						<li>
							<a href="#tab_default_3" data-toggle="tab">
							Panel </a>
						</li>
					<% end %>
				</ul>

				<!-- Content -->
				<div class="tab-content">
					<div class="tab-pane active" id="tab_default_1">
						<div class="row">

							<div class="col-xs-12 col-md-12" id="match_analysis">		
								<h3 class="text-center">Match Preview</h3>
								<div id="pre-match">
									<%= sanitize(@match.prematch) %>
								</div>
							</div>

							<!-- Matchday Squad -->
							<% unless @squad_players.empty? %>
							<div id="matchday_panel">
								<%= render partial: '/shared/matchday_18', locals: { players: @homeplayers, side: "Home", match: @match, squad: @squad_players, team: @match.hometeam }%>
								<%= render partial: '/shared/matchday_18', locals: { players: @awayplayers, side: "Away", match: @match, squad: @squad_players, team: @match.awayteam } %>
							</div>
							<% end %>
							<!-- End of Matchday Squad -->

						</div>
					</div>

					<div class="tab-pane" id="tab_default_2">
						<div class="row">
						<% unless @match.postmatch.empty? %>
							<div class="col-xs-12 col-md-12" id="match-review">		
								<h3 class="text-center" id="review-heading">Match Review</h3>
								<div class="col-xs-12 col-md-4">
									<%=  render partial: '/shared/team_stats_table', locals: { match: @match, home_stat: @home_stat, away_stat: @away_stat, home: @match.hometeam, away: @match.awayteam } %>
								</div>
								<div class="col-xs-12 col-md-8" id="post-match">
									<%= sanitize(@match.postmatch) %>
								</div>
							</div>
							<%= render partial: '/shared/match_review', locals: { 
									match: @match, players: @squad_players, team: @match.hometeam, side: "Home"
									} %>
							<%= render partial: '/shared/match_review', locals: { 
									match: @match, players: @squad_players, team: @match.awayteam, side: "Away"
									} %>
						<% end %>
						</div>
					</div>
					
					<% if current_user.admin? %>
					<div class="tab-pane" id="tab_default_3">
						<div class="row">
							<div class="col-xs-12 col-md-12">
							 
							  <%= link_to 'Edit Match', edit_match_path(@match), 
							    						  class: "btn btn-info" %>
								<%= link_to "Edit Squad Players", match_edit_squad_players_path(@match), 
									class: "btn btn-success" %>							    						  
							  <%= link_to 'Create Stats', new_match_team_stat_path(@match) %>
							  <%= link_to 'Delete Match', match_path(@match), 
							  				method: :delete, data: { confirm: 'Are you sure?' },
							  				class: "btn btn-danger" %>
							</div>
							<% if @match.postmatch.empty? %>
								<div class="col-xs-12 col-md-12">
										<%= render partial: '/shared/teamsheet', locals: { players: @homeplayers, match: @match, side: "Home", 
											team: @match.hometeam_id  } %>
										<%= render partial: '/shared/teamsheet', locals: { players: @awayplayers,	match: @match, side: "Away", 
											team: @match.awayteam_id } %>							  				
								</div>
							<% end %>
						</div>
					</div>
					<% end %>
					
				</div>
			</div>
		</div>
	</div>
</div>	