<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>FPL Guide</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Bootstrap -->
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Abel|Open+Sans:400,600" rel="stylesheet" />

	<style type="text/css">
		section#intro {
			background: url("http://fifawallpapers.com/wp-content/uploads/2014/02/Sergio-Aguero-22.jpg") no-repeat center center fixed;  
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding-top: 100px;
		    padding-bottom: 200px;
		}
		section#home { 
			background-color: white;
			height: auto;  
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding-top: 20px;
		    padding-bottom: 100px;
		}
		section#about { 
			background-color: black;
			height: auto;
			margin: 0 auto; 
		    width: 100%; 
		    position: relative; 
		    box-shadow: 0 0 50px rgba(0,0,0,0.8);
		    padding-top: 20px;
		    padding-bottom: 50px;
		    color: #fff;
		}

		h1 {
			font-family: "Abel", Arial, sans-serif;
			font-weight: 400;
			font-size: 40px;
		}

		p.input-group {
			padding-right: 20px;
		}

		input#subscriber_email {
			height: 30px;
		}

		/* Override B3 .panel adding a subtly transparent background */
		.panel {
			background-color: rgba(255, 255, 255, 0.9);
		}

		.margin-base-vertical {
			margin: 40px 0;
		}

		/* Contact Form */
		.form-control{
    		background: transparent;
		}
		form {
			width: 320px;
		}
		form > div {
			position: relative;
			overflow: hidden;
		}
		form input, form textarea {
			border: 2px solid gray;
			background: none;
			position: relative;
			top: 0;
			left: 0;
			z-index: 1;
			padding: 8px 12px;
			outline: 0;
		}
		input#message_name:valid, input#message_email:valid, 
		input#message_subject:valid, form textarea:valid {
			background: white;
		}
		form input:focus, form textarea:focus {
			border-color: #357EBD;
		}
		form input:focus + label, form textarea:focus + label {
			background: #357EBD;
			color: white;
			font-size: 70%;
			padding: 1px 6px;
			z-index: 2;
			text-transform: uppercase;
		}
		form label {
			-webkit-transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
			position: absolute;
			color: #999;
			padding: 7px 6px;
			font-weight: normal;
		}
		form textarea {
			display: block;
			resize: vertical;
		}

		textarea.form-control {
			height: 120px;
		}

		.btn-success {
			background: black;
		}
	</style>

	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<%= render 'layouts/shim' %>
</head>
<body id="landing">
	<section id="intro" data-speed="6" data-type="background">
		<div class="container">
			<%= render 'layouts/show_flash' %>
			<div class="row-fluid">
				<div class="col-xs-4 col-md-4 panel panel-default">
					<h1 class="margin-base-vertical">
						Join The Fun And Outwit Your Rivals.
					</h1>
					<p>
						The Ultimate Guide to Fantasy Premier League Is Coming Soon! Subscribe for free early-access when it is available.
					</p>
					<p>
						Get the lowdown on every single player available for selection and analysis on teams and matches. 
					</p>

					<%= form_for(@subscriber) do |f| %>
						<p class="input-group">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
							</span>

							  <%= f.text_field :email %>
						</p>
						<p class="text-center">
							  <%= f.submit "Subscribe" %>
					<% end %>
						</p>
						</span>

					<div class="margin-base-vertical">
						<small class="text-muted"></small>
					</div>

				</div><!-- //main content -->
				<div class="col-md-8">
				</div>
			</div><!-- //row -->
		</div> <!-- //container -->
	</section>
	<section id="home" data-speed="4" data-type="background">
		<div class="container">
			<div class="page-header">
				<h1>FPLGuide<small>  brings you...</small></h1>
			</div>
			<div class="row">
        <div class="col-md-5">
          <h2>Database of teams and players</h2>
          <p>View the details of each teams and players to help you
          make decisions for your fantasy team. You can conveniently see statistics and the playing style of teams and players</p>
          <h2>Weekly analysis</h2>
          <p>Avoid making a bad gamble on by getting the analysis of all matches in a gameweek</p>
          <h2>Fun interaction with other fantasy players</h2>
          <p>Recommend players for your friend and spy on your rival's lineup</p>
        </div>
        <div class="col-md-1">
        	
        </div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-4by3">
              <iframe class="embed-responsive-item" src="//www.youtube.com/embed/onNEnH9jLyo"></iframe>
          </div>
			  </div>         
    </div>
	</section>
	<section id="about" data-speed="6" data-type="background">
		<div class="container">
			<div class="row">
			<div class="page-header">
				<h1>FAQ</h1>
			</div>
				<div class="col-md-4">
		      <div class="span4">	
		       	<div class="media">
							<a class="pull-left" href="#">
						  	<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							</a>
							<div class="media-body">
							    <h4 class="media-heading">When will FPLGuide be available for use?</h4>
							    Right now it is available, even though some of the features are still under development. But you can already views stats of players and teams at the moment.
							</div>
						</div>
			      <div class="media">
							<a class="pull-left" href="#">
						  	<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							</a>
							<div class="media-body">
							    <h4 class="media-heading">Will it be free?</h4>
							    For the beta, yes. The beta will last until the end of this premier league season.  
							</div>
						</div>
			      <div class="media">
							<a class="pull-left" href="#">
						  	<span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span>
							</a>
							<div class="media-body">
						    <h4 class="media-heading">What is the method of payment that will be used?</h4>
						    The first method of payment available will be Paypal, if you do not have a Paypal account and are interested in subscribing, feel free to contact us via email for other arrangements.
							</div>
						</div>
					</div>
			    <div class="span4">

		      </div><!-- /.span4 -->		
		    </div><!-- /.col-md -->
		    <div class="col-md-1">
		    	
		    </div>
		    <div class="col-md-7"><!-- /contact form -->
					<%= bootstrap_form_for @message, :url => contact_path , html: {
						class: "col-md-12 go-right", role: "form"} do |f| %>
	
						<h4>Get in touch with us here</h4>
						
						<fieldset class="fields">
							<div class="form-group">
					      <%= f.text_field :name, required: true, class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.text_field :email, required: true, class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.text_field :subject, required: true, class: "form-control" %>
							</div>

							<div class="form-group">
								<%= f.text_area :body, required: true, class: "form-control" %>							
							</div>
						</fieldset>
				  
						<fieldset class="actions">
							<%= f.submit "Send", class: "btn btn-success" %>
						</fieldset>										    							    	
				    <% end %>			
					
		    </div><!-- /contact form -->
		  </div>
		  <footer>
		  	<small class="pull-right">
		  		Created by Instilla, 2014
		  	</small>
		  </footer>
    </div>
	</section>

</body>
</html>