
@import "base/mixins";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "styles/blogposts";
@import "styles/static_pages";
@import "styles/players";
@import "styles/teams";
@import "styles/matches";
@import "styles/plans";
@import "styles/devise";
@import "styles/subscribers";
@import "styles/users";


body {
	padding-top: 25px;
  margin-top: 25px;
}

body {
  background-color: #fff;
  h1, h2, h3, h4, h5, p {
    color: #000;
  }
}

/* Header */

.navbar-inverse {
  background-color: #000000;
}

.navbar {
  margin-bottom: 30px;
	.nav li a {
				font-size: 14px;
	}
}

/* Misc. */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
}


/*flash*/
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  padding-top: 40px;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  padding-top: 40px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  padding-top: 40px;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  padding-top: 40px;
}