<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	<body>
		Name: <%= @message.name %>

		Email: <%= @message.email %>

		Subject: <%= @message.subject %>

		Body: <%= @message.body %>	
	</body>
</html>