<div class="container-fluid">
	<section class="container">
		<div class="container-page">
			<h2 class="center">Write Review of "<%= @player.name %>"</h2>
			<%= bootstrap_form_for([@player, @review]) do |f| %>

			<div class="row">
				<div class="col-lg-8 col-md-12">
					<%= f.text_field :title %>	
				</div>
				<div class="col-lg-4 col-md-12">
					<%= f.number_field :rating, in: 1..10, step: 1 %>
				</div>
				<div class="col-lg-12 col-md-12">
					<%= f.label :content %>
					<%= f.cktext_area :content, rows: "25" %>			
				</div>
				<div class="col-lg-12 col-md-12">
					<%= f.submit "Submit review", class: " btn btn-primary " %>	
				</div>
			</div>		
			<% end %>
		</div>
	</section>
</div>