<div class="container">
	<h2 class="center"> 
    <%= @player.name %>'s Timeline
    <small>
    <% if current_user.admin? %>
      <%= link_to "Post review", new_player_review_path(@player) %>
    <% end %>
    </small> 
  </h2>
	<ul class="timeline">
   	<% @reviews.each do |review| %>
    <li>
      <div class="timeline-badge info">
      	<i class="glyphicon glyphicon-check"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">
          	<%= review.title %> 	<%= review.rating %>
          </h4>
          <p>
          	<small class="text-muted">
          		<i class="glyphicon glyphicon-time"></i> 
          		posted <%= review.created_at %>
							<% if current_user.admin? %>
								<small>
                <%= link_to "Edit", edit_player_review_path(@player, review) %>
                <%= link_to "Remove", review,
                    method: :delete, 
                    data: { confirm: "You sure?"} %>
								</small>
							<% end %>
          	</small>
          </p>
        </div>
        <div class="timeline-body">
				  <p><%= sanitize(review.content) %></p>
        </div>
      </div>
    </li>
 		<% end %>
  </ul>
</div>
