<div class="container-fluid">
  <%= form_for(@plan) do |f| %>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </p>
    <p> 
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </p>
    <p> 
      <%= f.label :duration %><br />
      <%= f.number_field :duration %>
    </p>

    <p><%= f.submit "Submit" %></p>
  <% end %>
</div>