<% provide(:title, "Plans") %>

<div class="container">
	<h1 class="center">Choose your subscription plan</h1>
	<small><%= link_to "Add Plan", new_plan_path %></small>
	<div class="row">

		<% for plan in @plans %>				    
	    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">

				<!-- PRICE ITEM -->
				<div class="panel price panel-green">
					<div class="panel-heading  text-center">
						<h3>
							<%= link_to h(plan.name).upcase, edit_plan_path(plan) %>
						</h3>
					</div>
					<div class="panel-body text-center">
						<p class="lead" style="font-size:40px">
							<strong>
								<%= number_to_currency(plan.price) %> / month
							</strong>
						</p>
					</div>
					<ul class="list-group list-group-flush text-center">
						<li class="list-group-item">
							<i class="icon-ok text-success"></i>
							<%= plan.duration %>month
						</li>
					</ul>
					<div class="panel-footer">
						<%= link_to "Purchase Plan", new_subscription_path(plan_id: plan.id) %>
					</div>
				</div>
				<!-- /PRICE ITEM -->

			</div>
		<% end %>

	</div>
</div>
