<footer class="footer">
	<small>
		Most user-friendly guide for FPL players out there<br>
	</small>
	<small class="pull-right">
		Created by Instilla: www.theinstilla.com
	</small>
	<nav>
		<ul class="nav nav-pills">

		</ul>
	</nav>
</footer>