<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href= "<%= under_development_path %>">
				FPL Guide
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li>
					<%= link_to "Home", user_root_path %>
				</li>
				<li>
					<%= link_to "Blog",   blogposts_path %>
				</li>

				<% if user_signed_in? %>
					<li>
						<%= link_to "Browse", teams_path %>
					</li>
				<% end %>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<% if user_signed_in? %>
					<li>
						<%= link_to "Account", edit_user_registration_path(current_user) %>
					</li>
					<li>
						<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
					</li>
				<% else %>
					<li>
						<%= link_to "Sign In", new_user_session_path %>
					</li>
				<% end %>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</div>