<% flash.each do |key, value| %>
	<div class="alert <%= alert_class_for(key) %> alert-dismissible fade in">
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
		<ul>
			<li>
				<%= value %>
			</li>
		</ul>
	</div>
<% end %>

<!-- <p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
 -->